html {
    /* Set default box-sizing to border-box for easier sizing of elements */
    box-sizing: border-box;
    overflow: hidden;
}

*, *:before, *:after {
    /* Make box-sizing property easy to change by components if required */
    box-sizing: inherit;
}


#contenedor{
    position: relative;
    width: 1920px;
    height: 1080px;
    right: -730px;
   /*  background-image: url('./img/ART/ZOCALO\ AZUL\ \(ORIGINAL\).png'); 
    background-size: cover;  */
    transition-duration: 2000ms;
}

#marco{
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-image: url('./img/ART/COM TEL.png'); 
    background-size: cover; 
}

#foto{
    position: absolute;
    height: 220px;
    width: 205px;
    bottom: 311px;
    right: 120px;          
    /* transition-duration: 2000ms;
    transition-property: transform;
    transform: translateX(-120px); */
}

#origen{
    position: absolute;
    bottom: 268px;
    right: 116px;      
    height: 35px;     
    width: 212px; 
 	color: rgb(255, 255, 255); 
    font-size: 24px;      
    font-family: Arial, sans-serif; 
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-right : 5px;
    padding-left: 5px;
    box-sizing: border-box;   	
}